h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714282989502px;
}
body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #FFB2A6;
}
#section1{
   background-color: #53A16A; 
}
footer{
    text-align: center;
}
footer ul li{
 display: inline-block;
 margin: 10px;
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 1.5em;
        font-weight: bold;
        
    }
    h2{
        font-size: 1.1em;
        font-weight: bold;
    }
    .container-fluid h1{
        font-size: 1.1em;
        font-weight: bold;
    }
   footer{
    text-align: left;
    font-weight: bold
   }
}